body {
  height: 100vh;
  display: grid;
  place-items: center; /* center the button horizontally and vertically if height is given */
}

.btn {
  border: 2px solid #764abc;
  text-decoration: none;
  color: #764abc;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 1s;
  position: relative;
  /* overflow: hidden; we will apply an overflow: hidden property to the button to hide any element that overflows from the container. When applied to the button, it will hide the translated pseudo-element and only show it when it moves back to position: */
}
